@import 'bourbon/bourbon';
@import 'neat/neat';
$mobile: new-breakpoint(max-width 700px);

*:focus {
  outline: none;

}
body {
  background-color: #5ba3d6;
  font-family: $helvetica;
  font-weight: 300;
  font-size: 14px;

}
.container {
  @include outer-container (800px);

}
.section {
  @include span-columns(4);
  @include media($mobile) {
    @include span-columns(12);
  }

}
select {
  background-color: #5ba3d6;
  color: #fff;

}
label {
  display: block;
  color: #fff;
  margin-top: 10px;

}
input {
  border: 2px solid #fff;
  width: 100%;
  background-color: #5ba3d6;
  padding: 4px;
  margin-top: 4px;
  transition: background-color 300ms;
  color: #fff;

  &:focus {
    border: 2px solid #2a6a98;

    @include placeholder {
      color: transparent;
    }

  }
  @include placeholder {
    color: #2a6a98;
  }

}
select {
  width: 100%;

}
textarea {
  width: 100%;
  border: 2px solid #fff;
  background-color: #5ba3d6;
  padding: 4px;
  margin-top: 4px;
  color: #fff;

  &:focus {
    border: 2px solid #2a6a98;
  }
}